<footer class="footer bg-dark py-3 mt-auto">

    <div class="container text-muted">
        <span>&copy; Campbnb 2020 By Bell Avisar -</span>
        <span class="ml-auto "> <a  class="text-light"  href="https://github.com/bellavis/campbnb"> View code on GitHub</a></span>
    </div>

</footer>