<% layout('layouts/boilerplate')%>
    <div class="background-color: rgba(0, 0, 0, 0.6)">
        <div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column">

            <main role="main" class="inner cover container col-md-5 p-lg-5 mx-auto my-5 ">
                <h1 class="cover-heading"> Welcome to Campbnb</h1>
                <p class="lead">Unforgettable trips start with Campbnb.<br> Find adventures nearby or in faraway places
                    and access unique campgrounds andexperiences around the US.</p>
            </main>
        </div>